.
.
<form action="/links" method="post">

  Title:
  <input type="text" name="title" required/>

  URL:
  <input type="text" name="url" required/>

  Tag:
  <input type="text" name="tag_name_inputted_in_view"/>

  <button type="submit">Submit</button>

</form>
